@import './base.css';


  #app {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url(./zip-zone.jpg);
    background-position: center;
    animation: runimg 1000s linear infinite;
  }

      	@keyframes runimg {
        from {
            background-position: 0 0;
          }
        
          to {
            background-position: -10000% 0;
          }
                   
      	}
  	